body {
  font-family: Arial;
  max-width: 700px;
  margin: auto;
  padding: 20px;
  background: var(--bg);
  color: var(--text);
}

:root {
  --bg: #f5f5f5;
  --text: #000;
}
body.dark {
  --bg: #111;
  --text: #eee;
}

#feed div {
  padding: 20px;
  margin-top: 20px;
  background: var(--card);
  border-radius: 10px;
}

img, video {
  max-width: 100%;
  border-radius: 10px;
}
